.content-search {
    width: 1330px;
    padding-top: 200px;
    padding-bottom: 260px;
    margin-left: auto;
    margin-right: auto;
}
.search-header {
    width: 100%;
    padding-bottom: 30px;
}
.search-header h2 {
    display: block;
    font-size: 50px;
    font-weight: 700;
    width: 550px;
    height: 80px;
    margin: 0;
    color: #fff;
}
.search-header p {
    display: block;
    font-size: 18px;
    margin-top: 0;
    color: #fff;
}
.search {
    display: inline-block;
    width: 540px;
    height: 55px;
    margin-left: 0;
}
.search input {
    width: 542px;
    height: 90%;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: grey;
}
.search a {
    text-decoration: none;
}
.content-search button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 236px;
    height: 51px;
    margin-left: 0;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    outline: none;
}
/* Block with a list of recent works */
.latest-jobs-header {
    padding-top: 100px;
    padding-bottom: 50px;
}
.latest-jobs-header h2 {
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin: 0;
}
.latest-jobs-header p {
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight: 600px;
    color: #454545;
    margin: 0;
}
.company-btn {
    width: 230px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40%;
    padding: 10px;
    background: #007BFF;

}
.company-btn a {
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
}
.company-btn p {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin: 0;
}


