.about-us {
    width: 100%;
    margin-bottom: 90px;
}
.about-info {
    display: inline-block;
    width: 40%;
    margin-top: 50px;
    margin-left: 20px;
}
.about-info h2 {
    font-size: 33px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
    margin-top: 0;
}
.about-info p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #454545;
}
.about-vision {
    font-size: 14px;
    line-height: 1.5;
    color: #454545;
}
.about-us img {
    display: inline-block;
    width: 660px;
    vertical-align: top;
    margin-left: 93px;
    
}
.about-team {
    width: 100%;
    margin-bottom: 70px;
}
.about-team h2 {
    font-size: 33px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}
.about-team p {
    font-size: 16px;
    margin-bottom: 50px;
    text-align: center;
    color: #454545;
    font-weight: 500;
}
.about-team-image {
    width: 100%;
    background: #ededed
}
.team-img {
    width: 300px;
    margin: 14px;
    padding: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.team-img img {
    width: 100%;
}
.team-img:hover .team-content {
    transform: scale(1);
    opacity: 1;
}
.team-content {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease 0s;
    transform: scale(0.25);
    transform-origin: bottom center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.team-inner {
    margin-top: 200px;
    padding: 20px;
    color: #fff;
}
.team-inner h6 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 6px;
    text-align: center;
    color: #fff;
}
.team-inner p {
    font-size: 15px;
    line-height: 1;
    display: block;
    text-align: center;
    text-transform: uppercase;
}