.table-jobs {
    width: 100%;
    margin-top: 50px;
    color: black;
}
.creat-job {
    font-size: 60px;
    float: right;
    margin-right: 30px;
    color: #000;
}
.creat-job:hover {
    color: green;
}
.list-vacancies {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}
.table-list-header {
    text-align: left;
    font-size: 19px;
    margin-bottom: 20px;
    border-collapse: collapse;
    padding: 15px;
}
.table-jobs a {
    color: black;
    font-weight: 600;
}
.table-jobs a:hover {
    color: blue;
}
table { 
    width: 100%; 
    border: 2px solid black; 
    border-collapse: collapse;
}
th { 
    text-align: left;
    background: #ccc;
    padding: 10px;
    border: 1px solid black;
}
td { 
    padding: 15px;
    border: 1px solid black;
}
