.create-job-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}
.create-job-form form {
    display: block;
    margin-top: 0em;
}
.col-job, .col-button {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}
.create-job-form label {
    display: block;
    color: #454545;
    font-size: 13px;
    line-height: 1.25;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: default;
}
.col-job input {
    line-height: 24px;
    display: block;
    width: 351px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid #EDEDED;
    background-color: #fff;
    outline: none;
}
.col-job select {
    line-height: 24px;
    display: block;
    padding: 15px;
    padding-right: 40px;
    color: #454545;
    border: 1px solid #EDEDED;
    background-color: #fff;
    width: 351px;
    outline: none;
}
.col-job option {
    font-weight: normal;
    line-height: 54px;
    display: block;
    padding: 0px 2px 1px;
    color: #454545;
    outline: none;
}
.col-job textarea {
    line-height: 24px;
    width: 738px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid #EDEDED;
    background-color: #fff;
    outline: none;
    overflow: auto;
    resize: vertical;
}
.btn-primary {
    line-height: 24px;
    padding: 10px 50px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
}

