.header {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
}
.header-slider::after {
    top: 0;
    width: 0;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.header-slider > div {
    z-index: 2;
    position: relative;
}
.container {
    width: 100%;
    top: 0;
    padding-left: 0;
    padding-right: 0;
}
.row-content-center {
    width: 1330px;
    height: 100%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.header-logo {
    display: inline-block;
    width: 200px;
    height: 100%;
}
.header-logo a {
    text-decoration: none;
    border-style: none;
    color: #fff;    
    cursor: pointer;
}
.header-logo h1 {
    font-size: 38px;
    color: #fff;
    margin-top: 0;
    margin-left: 10px;
}
.header-menu {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    float: right;
}
.header-menu a {
    text-decoration: none;
    color: #fff;
}
.header-menu li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    margin-left: 45px;
}
.footer {
    width: 100%;
    background: #333;
    margin-top: 90px;
    margin-bottom: 0;
    padding: 80px 0;
}
.footer-content {
    width: 100%;
}
.footer-about-us {
    display: inline-block;
}
.footer-header-wget {
    display: inline-block;
    vertical-align: top;
    width: 250px;
}
.footer-header-wget h2 {
    font-size: 38px;
    color: #fff;
    margin: 0;
}
.footer-header-wget p {
    text-align: left;
    color: #6b6b6b;
}
.footer-icon-link {
    margin-top: 20px;
}
.footer-icon-link a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.footer-icon-link i {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 24px;
    color: #fff;
    margin-right: 15px;
}
.footer-quick-links {
    display: inline-block;
    vertical-align: top;
    margin-left: 170px;
}
.footer-name-wget {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
}
.footer-quick-links a {
    text-decoration: none;
    line-height: 1;
    color: #6b6b6b;

}
.footer-quick-links ul {
    padding-left: 0px;
}
.footer-quick-links li {
    display: block;
    list-style: none;
    margin-bottom: 15px;
    padding-left: 0;
}
.footer-newsletter {
    display: block;
    width: 100%;
    margin-left: 170px;
}
.footer-newsletter form {
    display: block;
    margin-top: 50px;
}
.footer-newsletter form input {
    font-size: 13px;
    width: 75%;
    height: 38px;
    padding-left: 5px;
    padding-right: 44px;
    color: #FFFFFF;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-newsletter form button {
    top: 0;
    right: 0;
    width: 44px;
    height: 38px;
    padding-left: 0;
    padding: 10px;
    color: #FFF;
    border: none;
}
.footer-newsletter button:hover {
    background: #007BFF;
    transition: all 0.2s;
}
/* basement */
.basement {
    width: 100%;
    height: 60px;
    background: #000;
    margin-top: 0;
}
.basement p {
    font-size: 15px;
    font-weight: 600;
    color: #9c9c9c;
    text-align: center;
    margin: 0;
    padding-top: 21px;
    
}
.basement a {
    text-decoration: none;
    color: #007BFF;
}
/* Job list */
.job-list-wrap {
    width: 100%;
    margin-bottom: -2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
}
.job-list {
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.job-list p {
    font-weight: 500;
    color: #454545;
}
.company-logo {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.company-col {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    padding-left: 10px;
}
.company-col h6 {
    font-size: 19px;
    font-weight: 600;
    height: 40px;
    color: #454545;
    margin: 0;
}
.company-col span {
    display: inline-block;
    font-weight: bolder;
    color: #007BFF;
    margin-right: 15px;
}
.company-col p {
    display: inline-block;
    font-size: 16px;
    font-weight: 300px;
    color: #6b6b6b;
    margin: 0;
}
.company-col i {
    font-family: "FontAwesome";
    font-style: normal;
    color: #6b6b6b;
    padding-right: 3px;
}
.company-salary {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    float: right;
}
.job-list-wrap .company-salary p {
    color: #000;
}
.company-salary .salary-span1 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding: 4px 10px 5px;
    color: #fff;
    background-color: #28a745;
}
.company-salary .salary-span2 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding: 4px 10px 5px;
    color: #fff;
    background-color: #ffc107;
}
.company-salary .salary-span3 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding: 4px 10px 5px;
    color: #fff;
    background-color: #dc3545;
}
/* Slider for page*/
.slider-name-page {
    padding-top: 10%;
    padding-bottom: 20%;
    margin-bottom: 50px;
}
.slider-name-page h2 {
    display: block;
    font-size: 33px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}
.slider-name-page a {
    text-decoration: none;
    color: #fff;
}
.slider-name-page p {
    color: #fff;
    text-align: center;
}
.slider-name-page a:hover {
    border-bottom: 2px solid #007BFF;
    transition: all 0.2s;
}
/* Sidebar */
.content-center {
    display: inline-block;
    width: 57%;
    margin-right: 67px;
}
.job-sidebar {
    display: inline-block;
    vertical-align: top;
}
.job-details {
    width: 500px;
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    margin-bottom: 10px;
}
.inner {
    width: 100%;
    height: 100%;
    border: 1px solid #ededed;
    padding: 20px;
    margin-bottom: 22px;
}
.inner h6 {
    display: block;
    font-size: 19px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #000;
}
.job-details-name {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333333;
    text-align: left;
}
.job-details p {
    display: block;
    color: #454545;
    margin-bottom: 20px;
}
.job-details ul {
    padding-inline-start: 15px;
}
.job-details li {
    display: block;
    font-size: 16px;
    color: #454545;
    margin-top: 6px;
    line-height: 1.5;
    list-style-type: disc;
    text-align: left;
}

.inner i {
    font-family: "FontAwesome";
    margin-right: 2px;
}
.inner .btn-sidebar-1:hover {
    background: #6b6b6b;
    color: #fff;
    transition: all 04s;
}
.inner ul {
    display: block;
    padding-inline-start: 0;
}
.inner li {
    font-size: 14px;
    list-style: none;
    margin-bottom: 10px;
    color: #000;
    line-height: 1.75;
}









