
.content-company-info {
    display: inline-block;
    width: 720px;
    padding-right: 50px;
}
.job-list-info {
    width: 100%;
    margin-bottom: -2px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
}
.job-info {
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.job-info p {
    font-weight: 500;
    color: #454545;
}
.job-logo {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.job-col {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.job-col h6 {
    font-size: 19px;
    font-weight: 600;
    height: 40px;
    color: #454545;
    margin: 0;
}
.job-col span {
    display: inline-block;
    font-weight: bolder;
    color: #007BFF;
    margin-right: 15px;
}
.job-col p {
    display: inline-block;
    font-size: 16px;
    font-weight: 300px;
    color: #6b6b6b;
    margin: 0;
}
.job-col i {
    font-family: "FontAwesome";
    font-style: normal;
    color: #6b6b6b;
    padding-right: 3px;
}
/*  */
.inner .btn-sidebar-1 {
    padding: 15px 35px;
    border: 1px solid #6b6b6b;
    color: #6b6b6b;
    background: #fff;
}
.sidebar-btn {
    text-align: center;
    padding: 15px 0;
}
.inner .btn-sidebar-2:hover {
    background: #28a745;
    transition: all 01s;
}
.inner .btn-sidebar-2 {
    margin-left: 17px;
    padding: 15px 35px;
    color: #fff;
    background-color: #007BFF;
}
.location {
    overflow:hidden;
    width: 550px;
    position: relative;
}
