.job-list-toolbar {
    margin-bottom: 25px;
    padding: 10px;
}
.job-list-toolbar p {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.title-toolbar {
    float: right;
    vertical-align: top;
}
.row-content-center select {
    line-height: 24px;
    margin-left: 5px;
    padding-left: 10px;
    width: 140px;
    height: 40px;
    color: #454545;
    border: 1px solid #EDEDED;
    background-color: #FFFFFF;
    outline: none;
}
.row-content-center select option {
    font-weight: normal;
    margin-left: 20px;
}
.pagnitation {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.pagnitation li {
    display: inline-block;
    font-weight: 600;
    list-style: none;
    padding: 14px 16px;
    margin-left: 3px;
    text-align: center;
    color: #000;
}
.pagnitation li:hover {
    background: #007bff;
    transition: all 0.2s;
}
.pagnitation a {
    text-decoration: none;
    color: #000;
}
.inner-input input {
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #EDEDED;
    outline: none;
}
.inner select {
    line-height: 24px;
    display: block;
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px;
    color: #454545;
    border: 1px solid #EDEDED;
    border-radius: 0;
    background-color: #FFFFFF;
    outline: none;
}
.inner option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
.custom-control-input {
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1.25rem;
    background-color: #007bff;
}
.custom-control input {
    transition: all 0.3s ease 0s;
    overflow: visible;
    margin: 0;
    font-size: 15px;
    line-height: 1.25;
}
.custom-control label {
    display: block;
    cursor: default;
}
.custom-control-label {
    font-size: 15px;
    line-height: 1.65;
    color: #000;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
