
@media (max-width: 1025px) {
    .header-slider .row-content-center {
        width: 100%;
    }
    .header-slider h1 {
        margin: 0;
    }
    .header-slider li {
        margin: 0;
        padding: 5px;
    }
    .header-slider .content-search {
        width: 100%;
        overflow: hidden;
        padding: 50px 20px;
    }
    .header-slider h2 {
        width: 100%;
        height: 100%;
        font-size: 32px;
    }
    
    .row-content-center {
        width: 100%;
        margin: 0;
    }
    .latest-jobs-header h2 {
        margin: 0;
        font-size: 28px;
    }
    /* Outer Home Page */
    .content-center {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .job-details {
        width: 100%;
        float: unset;
        padding: 20px;
    }
    .inner {
        width: 100%;
        margin: 5px 0;
    }
    /* Outer Jobs Page */
    .content-company-info {
        width: 100%;
        padding: 20px;
    }
    .job-sidebar {
        width: 100%;
        padding: 0;
        
    }
    .job-sidebar .inner {
        width: 100%;
    }
    .slider-btn {
        width: 100%;
    }
    .inner .btn-sidebar-1, 
    .inner .btn-sidebar-2 {
        text-decoration: none;
        width: 100%;
        padding: 15px 85px;
    }
    .locaion {
        width: 100%;
    }
    .col-job,
    .col-job select,
    .col-job input,
    .col-job textarea {
        width: 100%;
    }
    /* footer */
    .footer {
        padding: 0;
        margin-top: 30px;
    }
    .footer .footer-content {
        width: 100%;
        padding: 0 20px;

    }
    .footer-about-us {
        width: 48%;
        margin: 0;
        padding: 20px;
    }
    .footer-quick-links {
        width: 48%;
        margin: 0;
        padding: 20px;
    }
    .footer-newsletter {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .footer-newsletter .input {
        width: 33px;
    }
    .about-us {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .about-info {
        width: 100%;
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    .about-us img {
        width: 100%;
        margin: 0;
        margin-top: 50px;
    }
    .team-img {
        width: 40%;
        margin: 20px 49px;
        padding: 10px;
    }
    .about-team-image {
        width: 100%;
        margin: 0;
        padding: 0px;
    }
}
@media (max-width: 768px) {
    .header-slider .row-content-center {
        width: 100%;
        text-align: center;
    }
    .header-slider h1 {
        margin: 0;
    }
    .header-slider .header-menu {
        margin: 0;
        padding: 0;
        float: unset;
    }
    .header-slider li {
        margin: 0;
        padding: 10px;
    }
    .header-slider .content-search {
        width: 100%;
        overflow: hidden;
        padding: 50px 20px;
    }
    .header-slider h2 {
        width: 100%;
        height: 100%;
        font-size: 32px;
    }
    .header-slider .search,
    .header-slider .search input,
    .header-slider .search ~ button {
        width: 100%;
    }
    
    .row-content-center {
        width: 100%;
        margin: 0;
    }
    .latest-jobs-header h2 {
        margin: 0;
        font-size: 28px;
    }
    .company-btn {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    /* Outer Home Page */
    .content-center {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .job-details {
        width: 100%;
        float: unset;
        padding: 20px;
    }
    .inner {
        width: 100%;
        margin: 5px 0;
    }
    /* Outer Jobs Page */
    .content-company-info {
        width: 100%;
        padding: 20px;
    }
    .job-sidebar {
        width: 100%;
        padding: 0;
        
    }
    .job-sidebar .inner {
        width: 100%;
    }
    .slider-btn {
        width: 100%;
    }
    .inner .btn-sidebar-1, 
    .inner .btn-sidebar-2 {
        text-decoration: none;
        width: 100%;
        padding: 15px 85px;
    }
    .locaion {
        width: 100%;
    }
    .col-job,
    .col-job select,
    .col-job input,
    .col-job textarea {
        width: 100%;
    }
    /* footer */
    .footer {
        padding: 0;
        margin-top: 30px;
    }
    .footer .footer-content {
        width: 100%;
        padding: 0 20px;

    }
    .footer-about-us {
        width: 48%;
        margin: 0;
        padding: 20px;
    }
    .footer-quick-links {
        width: 48%;
        margin: 0;
        padding: 20px;
    }
    .footer-newsletter {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .footer-newsletter .input {
        width: 33px;
    }
    .about-us {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .about-info {
        width: 100%;
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    .about-us img {
        width: 100%;
        margin: 0;
        margin-top: 50px;
    }
    .team-img {
        width: 100%;
        margin: 0;
        padding: 50px;
    }
    .about-team-image {
        width: 100%;
        margin: 0;
        padding: 0px;
    }
}
@media (max-width: 426px) {
    .header-slider .row-content-center {
        width: 100%;
        text-align: center;
    }
    .header-slider h1 {
        margin: 0;
    }
    .header-slider .header-menu {
        margin: 0;
        padding: 0;
        float: center;
    }
    .header-slider li {
        font-size: 15px;
        margin: 0;
    }
    .header-slider .header-menu ul {
        padding: 0;
        margin: 0;
    }
    .header-slider .content-search {
        width: 100%;
        overflow: hidden;
        padding: 50px 20px;
    }
    .header-slider h2 {
        width: 100%;
        height: 100%;
        font-size: 32px;
    }
    .header-slider .search,
    .header-slider .search input,
    .header-slider .search ~ button {
        width: 100%;
    }
    
    .row-content-center {
        width: 100%;
        margin: 0;
    }
    .latest-jobs-header {
        padding: 20px 20px;
    }
    .latest-jobs-header h2 {
        margin: 0;
        font-size: 25px;
    }
    .latest-jobs-header p,
    .company-salary p {
        font-size: 14px;
    }
    .company-logo, .job-logo {
        padding: 0 10px;
    }
    .company-col, .job-col {
        width: 35%;
        padding: 0;
    }
    .company-col h6, span,
    .job-col h6, span {
        font-size: 14px;
        margin: 5px;
    }
    .company-col p,
    .job-col p {
        font-size: 12px;
    }
    .company-btn {
        width: 100%;
        margin: 20px 0;
        padding: 10px 0;
    }
    /* Outer Home Page */
    .content-center {
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }
    .job-list-toolbar p {
        font-size: 16px;
        margin: 0;
    }
    .title-toolbar {
        width: 100%;
        margin: 5px 0;
        float: right;
    }
    .title-toolbar select {
        margin: 10px 0;
    }
    .job-details-sidebar {
        margin: 20px;
    }
    .job-details {
        width: 100%;
        float: unset;
        padding: 20px;
    }
    .inner {
        width: 100%;
        margin: 5px 0;
    }
    .pagnitation {
        margin: 20px 0;
    }
    .pagnitation li {
        font-size: 13px;
    }
    /* Outer Jobs Page */
    .content-company-info {
        width: 100%;
        padding: 0;
    }
    .job-sidebar {
        width: 100%;
        padding: 0; 
    }
    .job-details-name {
        margin: 0;
    }
    .job-sidebar .inner {
        width: 100%;
    }
    .slider-btn {
        width: 100%;
    }
    .inner .btn-sidebar-1,
    .inner .btn-sidebar-2 {
        text-decoration: none;
        width: 100%;
        padding: 15px 20px;
    }
    .locaion iframe {
        width: 100%;
        
    }
    .col-job,
    .col-job select,
    .col-job input,
    .col-job textarea {
        width: 100%;
    }
    /* footer */
    .footer {
        padding: 0;
        margin-top: 30px;
    }
    .footer .footer-content {
        width: 100%;
        padding: 0 20px;

    }
    .footer-about-us {
        width: 100%;
        margin: 0;
        padding: 10px 20px;
        text-align: center;
    }
    .footer-quick-links {
        width: 100%;
        margin: 0;
        padding: 10px 20px;
        text-align: center;
    }
    .footer-newsletter {
        width: 100%;
        margin-left: 20%;
        padding: 10px 20px;
        text-align: center;
    }
    .footer-newsletter .input {
        width: 33px;
    }
    .basement p {
        font-size: 12px;
    }
    .locaion {
        width: 100%;
    }
    .about-us {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .about-info {
        width: 100%;
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    .about-us img {
        width: 100%;
        margin: 0;
    }
    .team-img {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .about-team-image {
        width: 100%;
        margin: 0;
    }
    
}